# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.eggs/
*.egg
*.env
.venv/
venv/
ENV/

# VS Code and JetBrains IDEs
**/.idea/
**/.vscode/

# SQLite
*.sqlite3
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Test & Coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Env files
.env
.env.*

# Mypy
.mypy_cache/
.dmypy.json

# FastAPI
instance/

# Misc
*.bak
*.swp
*.swo

# Node
node_modules/

# Docker
**/tmp/